nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top
    .container.px-4.px-lg-5
        a.navbar-brand.text-white(href='/') House of Champions Foundation
        button.text-white.navbar-toggler.navbar-toggler-right(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
            | Menu
            i.fas.fa-bars
        #navbarResponsive.collapse.navbar-collapse
            ul.navbar-nav.ms-auto
                li.nav-item
                    a.nav-link(href='athletes.html') Athletes
                li.nav-item
                    a.nav-link(href='#signup') Help Us
                li#aboutDropdown.nav-item.dropdown
                    a.nav-link.dropdown-toggle(href="#aboutDropdown", role="button", data-bs-toggle="dropdown", data-bs-target='#aboutDropdown', aria-expanded="false")
                        | About Us
                    ul.dropdown-menu
                        li.dropdown-item
                            a.dropdown-item(href='about.html#projects') Board of Directors
                        li.dropdown-item
                            a.dropdown-item(href='about.html#projects2') Values
                        li.dropdown-item
                            a.dropdown-item(href='about.html#founder') The Founder
                li.nav-item
                    a.nav-link(href='store.html') Store
                li.nav-item.adaptive-wod
                    a.nav-link(href='adaptivewod.html') Adaptive WoD
                //- li.nav-item
                //-     a.nav-link(href='register.html') Apply
