doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description' content='')
        meta(name='author' content='')

        title HOCF

        link(rel='icon' type='image/x-icon' href='assets/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v6.3.0/js/all.js' crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i' rel='stylesheet')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css' rel='stylesheet')

    body#page-top

        // Navigation
        include components/navbar.pug

        // Masthead
        header.masthead
            .container.px-4.px-lg-5.d-flex.h-100.align-items-center.justify-content-center
                .d-flex.justify-content-center
                    .text-center
                        h1.mx-auto.my-0.text-uppercase Athletes
                        h2.text-white-50.mx-auto.mt-2.mb-5 Unleashing Inner Champions

        section#athletes.projects-section.bg-black
            .container.px-4.px-lg-5
                h2.text-white What is this?
                p.text-white
                    | Here, we celebrate triumphs over adversity and highlight the incredible achievements of individuals who have defied limitations to pursue their sporting passions. Through compelling stories and captivating images, we share the transformative impact of HOCF's assistance in enabling these athletes to reach their full potential. From overcoming physical challenges to conquering personal barriers, each athlete's narrative embodies resilience, determination, and the power of unwavering support. Explore these empowering tales and witness firsthand the profound difference made possible through the invaluable work of HOCF in championing inclusivity and accessibility in sports for all.
                br
                // Athelete One Main
                .accordion(id="accordionExample")
                    .accordion-item
                        // h2.accordion-header
                        button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#collapseOne' aria-expanded='false' aria-controls='collapseOne')
                            h2.accordion-header.text-center.text-white Lauren Farhat
                        #collapseOne.accordion-collapse.collapse(data-bs-parent='#accordionExample')
                            .accordion-body
                                .row.gx-0.mb-4.mb-lg-5.align-items-center
                                    .col-xl-8.col-lg-5.text-center
                                        img.img-fluid.mb-3.mb-lg-0(src='assets/img/Lauren.png' alt='...')
                                    .col-xl-4.col-lg-5.text-center
                                        .text-lg-left.text-white
                                            h4.display-5 Lauren
                                            p.lead.text-white-50.mb-0
                                                | Lauren Farhat's journey extends beyond her personal achievements in athletics. Guided by her favorite motto, "if you want to go fast, go alone, but if you want to go far, go together," she aspires to empower fellow adaptive athletes and foster positive change in the realm of adaptive athletics. Using her platform as an athlete, Lauren is dedicated to promoting inclusivity and accessibility, ensuring that all individuals, regardless of ability, have the opportunity to pursue their dreams with determination and support. Through her advocacy and example, she aims to create a world where movement is celebrated as a form of self-expression and where barriers to participation are dismantled, allowing everyone to thrive and excel.
                                // Athelete One Row
                                .row.gx-0.mb-5.mb-lg-0.justify-content-center
                                    .col-lg-6.text-center
                                        br
                                        br
                                        img.img-fluid(src='assets/img/Lauren2.png' alt='...')
                                        br
                                        br
                                        br
                                        br
                                        br
                                        img.img-fluid(src='assets/img/lauren1.jpg' alt='...')
                                    .col-lg-6
                                        .bg-black.text-center.h-100.project
                                            .d-flex.h-100
                                                .project-text.w-100.my-auto.text-center.text-lg-left
                                                    h4.text-white Her Story
                                                    p.lead.mb-0.text-white-50
                                                        | Born in 1995 in Detroit, Michigan, Lauren Farhat's journey has been one of resilience and triumph over adversity. From a young age, she faced the challenges of a hip deformity and limb deficiency known as Proximal Femoral Focal Deficiency (PFFD), undergoing numerous surgeries in attempts to correct it. Despite the hardships and frequent hospital visits, Lauren refused to let her circumstances define her. Raised primarily by her single mother, Shelly, Lauren drew inspiration from her mother's unwavering work ethic and dedication to providing for their family. Determined to contribute and alleviate some of the financial strain, Lauren began working as a golf caddie at age 12, earning the prestigious Evans Scholarship—a testament to her academic excellence and financial need. After graduating college and entering the workforce, Lauren discovered CrossFit, where she found her true calling. With the support of mentors like Mat Fraser and Kerry Sproles, she quickly rose to prominence in the adaptive athlete community. In 2023, Lauren made her debut at the CrossFit Games and went on to claim first place in her division at the WheelWod Games, showcasing her skill, determination, and hard work.
                    hr
                    .accordion-item
                        // h2.accordion-header
                        button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#collapseTwo' aria-expanded='false' aria-controls='collapseOne')
                            h2.accordion-header.text-center.text-white Russell Allmandinger
                        #collapseTwo.accordion-collapse.collapse(data-bs-parent='#accordionExample')
                            .accordion-body
                                // Athlete Two Main
                                .row.gx-0.mb-4.mb-lg-5.align-items-center
                                    .col-xl-4.col-lg-5
                                        .text-center.text-lg-left.text-white
                                            h4.display-5 Russell Allmandinger
                                            p.lead.text-white-50.mb-0
                                                | At the House of Champions Foundation, we celebrate the achievements of those who have turned adversity into victory. Our founder, Russell Allmandinger, is a testament to this, transforming physical challenges into a platform for inspiring others. Join us as we champion the achievements of the disabled communities.
                                    .col-xl-8.col-lg-7
                                        img.img-fluid.float-end.mb-3.mb-lg-0(src='assets/img/russell3.png' alt='...')

                                // Athelete Two Row
                                .row.gx-0.justify-content-center
                                    .col-lg-6
                                        br
                                        br
                                        br
                                        br
                                        br
                                        br
                                        img.img-fluid(src='assets/img/russell2.jpg' alt='...')
                                    .col-lg-6.order-lg-first
                                        .bg-black.text-center.h-100.project
                                            .d-flex.h-100
                                                .project-text.w-100.my-auto.text-center.text-lg-right
                                                    h4.text-white.display-7 His Story
                                                    p.mb-0.text-white-50.lead
                                                        | Russell Allmandinger, born in 1985, faced immense adversity from infancy due to severe bilateral club feet. Despite undergoing over 30 surgeries and enduring physical challenges, he embraced an active lifestyle, excelling in sports like baseball and powerlifting. At 15, his mother's terminal lung cancer diagnosis shifted his role to that of a caregiver for his family, teaching him the value of resilience from a young age. In 2021, Russell chose to break free from medication dependency and embraced CrossFit as a path to healing. Discovering a new sense of purpose and drive, he began to rebuild his life, becoming a competitive CrossFit athlete. His passion for competition led him to achieve notable rankings in the CrossFit Open, demonstrating his relentless determination and resilience in overcoming challenges.
                    hr
                    .accordion-item
                        // h2.accordion-header
                        button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#collapseThree' aria-expanded='false' aria-controls='collapseOne')
                            h2.accordion-header.text-center.text-white Andrea Wilson
                        #collapseThree.accordion-collapse.collapse(data-bs-parent='#accordionExample')
                            .accordion-body
                                // Athlete Three Main
                                .row.gx-0.mb-4.mb-lg-5.align-items-center
                                    .col-xl-4.col-lg-5
                                        .text-center.text-lg-left.text-white
                                            h4.display-5 Andrea
                                            p.lead.text-white-50.mb-0
                                                | With a fairly large social media following, Andrea uses her platform to showcase the many things our bodies are capable of doing despite whatever physical limitations one might have. As a mother, she prides herself on her kids never questioning her ability to do anything, and is grateful for her fitness for helping prove this to be true.
                                    .col-lg-6
                                        img.img-fluid(src='assets/img/andrea1.jpg' alt='...')

                                // Athelete Three Row
                                .row.gx-0.justify-content-center
                                    .col-lg-6
                                        br
                                        br
                                        br
                                        img.img-fluid(src='assets/img/andrea2.jpg' alt='...')
                                        br
                                        br
                                        br
                                        br
                                        img.img-fluid(src='assets/img/andrea3.jpg' alt='...')
                                    .col-lg-6.order-lg-first
                                        .bg-black.text-center.h-100.project
                                            .d-flex.h-100
                                                .project-text.w-100.my-auto.text-center.text-lg-right
                                                    h4.text-white.display-7 Her Story
                                                    p.mb-0.text-white-50.lead
                                                        | Andrea Wilson, born 1985, was a competitive athlete from a young age. Starting gymnastics at age 4, she worked her way to being a competitive level 10 gymnast and the top high school gymnast in her state. While her intent was to compete for a division 1 college team, during her senior year of high school she broke her back during a fall from the uneven bars and became paralyzed from the waist down. She spent the next decade focused on academics, earning degrees from Princeton University, Johns Hopkins School of Public Health, and Columbia University School of Nursing. However, once she found CrossFit in 2018, she found her competitive drive again and hasn't looked back. She has been named CrossFit's Fittest on Earth for the last 4 years running and is just starting competitive rock climbing, with her sights on representing Team USA throughout the 2025 paraclimbing world cup series.
                    hr
                    .accordion-item
                        button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#collapseFour' aria-expanded='false' aria-controls='collapseOne')
                            h2.accordion-header.text-center.text-white Pedro Cueto
                        #collapseFour.accordion-collapse.collapse(data-bs-parent='#accordionExample')
                            .accordion-body
                                .row.gx-0.mb-4.mb-lg-5.align-items-center
                                    .col-xl-4.col-lg-5
                                        .text-center.text-lg-left.text-white
                                            h4.display-5 Pedro
                                            p.lead.text-white-50.mb-0
                                                | Pedro is a 10 year old go-kart driver competing at a national and international level. He is also a right leg above the knee amputee and cancer survivor. He races with a hand controlled throttle and is on a mission to show the world just what amputees can do!
                                    .col-lg-6
                                        img.img-fluid(src='assets/img/pedro3.jpg' alt='...')

                                .row.gx-0.justify-content-center
                                    .col-lg-6
                                        br
                                        br
                                        br
                                        img.img-fluid(src='assets/img/pedro1.jpg' alt='...')
                                        br
                                        br
                                        br
                                        br
                                        img.img-fluid(src='assets/img/pedro2.jpg' alt='...')
                                    .col-lg-6.order-lg-first
                                        .bg-black.text-center.h-100.project
                                            .d-flex.h-100
                                                .project-text.w-100.my-auto.text-center.text-lg-right
                                                    h4.text-white.display-7 His Story
                                                    p.mb-0.text-white-50.lead
                                                        | Pedro won the Colorado Karting Tour a few months out of chemotherapy, and hasn't slowed down since. He is often praised for being the most motivated driver on the grid, because he eats, breathes, and sleeps karting. He trains hard on the track and off the track in his sim racer and at the crossfit gym.
                                                    br
                                                    p.mb-0.text-white-50.lead
                                                        | Pedro has shown us what true perseverance and determination is - nothing stops this kid from chasing his big dreams!
                                                    br
                                                    p.mb-0.text-white-50.lead
                                                        | Pedro's unique position as the only adaptive youth go-kart driver competing on the national circuit gives him a unique position where he gets to speak with the media quite a bit on racing as an adaptive athlete and on chasing his big dreams. Pedro also gets over 1 MILLION views on social media per month, as this is where he shares daily updates.
                                                    br
                                                    p.mb-0.text-white-50.lead
                                                        | The road is there, and Pedro is racing down it full speed ahead!
                    hr
        // Signup
        section#signup.signup-section
            .container.px-4.px-lg-5
                .row.gx-4.gx-lg-5
                    .col-md-10.col-lg-8.mx-auto.text-center
                        i.fa-regular.fa-credit-card.fa-2xl.mb-2(style="color: #ffffff;")
                        h2.text-white.mb-5 Donate to help us unleash more champions!
                        a.button.btn.btn-primary.clickable(href='https://www.zeffy.com/en-US/donation-form/bca5b80f-a3b2-4746-baaa-55e34b25840f') Donate!

        // Contact
        section.contact-section.bg-black
            .container.px-4.px-lg-5
                .row.gx-4.gx-lg-5
                    .col-md-4.mb-3.mb-md-0
                        .card.py-4.h-100
                            .card-body.text-center
                                i.fas.fa-envelope.text-primary.mb-2
                                h4.text-uppercase.m-0 Email
                                hr.my-4.mx-auto
                                .small.text-black-50
                                    a(href='mailto: rallmandinger@hocfoundation.org')  rallmandinger@hocfoundation.org
                    .col-md-4.mb-3.mb-md-0
                        .card.py-4.h-100
                            .card-body.text-center
                                i.fab.fa-instagram.text-primary.mb-2
                                h4.text-uppercase.m-0 Instagram
                                hr.my-4.mx-auto
                                .small.text-black-50
                                    a(href='https://www.instagram.com/houseofchampionsfoundation/')  House of Champions
                    .col-md-4.mb-3.mb-md-0
                        .card.py-4.h-100
                            .card-body.text-center
                                i.fas.fa-mobile-alt.text-primary.mb-2
                                h4.text-uppercase.m-0 Phone
                                hr.my-4.mx-auto
                                .small.text-black-50 +1 702-308-2669
        // Footer
        footer.footer.bg-black.small.text-center.text-white-50
            .container.px-4.px-lg-5
                | Inspire Others

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')

        // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
        // * *                               SB Forms JS                               * *
        // * * Activate your form at https://startbootstrap.com/solution/contact-forms * *
        // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

        script(src='https://cdn.startbootstrap.com/sb-forms-latest.js')
