doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title HOCF

        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v6.3.0/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Varela+Round', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i', rel='stylesheet')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top
            .container.px-4.px-lg-5
                a.navbar-brand.text-white(href='#page-top') House of Champions Foundation
                button.text-white.navbar-toggler.navbar-toggler-right(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    | Menu
                    i.fas.fa-bars
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.ms-auto
                        li.nav-item
                            a.nav-link(href='athletes.html') Athletes
                        li.nav-item
                            a.nav-link(href='#signup') Help Us
                        li#aboutDropdown.nav-item.dropdown
                            a.nav-link.dropdown-toggle(href="#aboutDropdown", role="button", data-bs-toggle="dropdown", data-bs-target='#aboutDropdown', aria-expanded="false")
                                | About Us
                            ul.dropdown-menu
                                li.dropdown-item
                                    a.dropdown-item(href='about.html#projects') Board of Directors
                                li.dropdown-item
                                    a.dropdown-item(href='about.html#projects2') Values
                                li.dropdown-item
                                    a.dropdown-item(href='about.html#founder') The Founder
                        li.nav-item
                            a.nav-link(href='store.html') Store

        // Masthead
        header.masthead
            .container.px-4.px-lg-5.d-flex.h-100.align-items-center.justify-content-center
                .d-flex.justify-content-center
                    .text-center
                        h1.mx-auto.my-0.text-uppercase House of Champions
                        h2.text-white-50.mx-auto.mt-2.mb-5 Unleashing Inner Champions


        section#mission.projects-section.bg-black
            .container.px-4.px-lg-5
                h1.mx-auto.text-white Mission Statement
                hr
                p.text-white-50
                    | HOCF was created to serve the disabled communities and inspire them to find their inner champion physically, mentally, emotionally, and financially and help them on their journey to be their best self. Our mission focuses on helping motivated members of the disabled communities receive proper medical equipment and support they need to start and achieve the optimum fitness level through coaching, education, movement, and nutritional guidance.
                .text-center
                    img.rounded.mx-auto(src='assets/img/b-c-Logo.jpg', alt='...')

        // Signup
        section#signup.signup-section
            .container.px-4.px-lg-5
                .row.gx-4.gx-lg-5
                    .col-md-10.col-lg-8.mx-auto.text-center
                        i.fa-regular.fa-credit-card.fa-2xl.mb-2(style="color: #ffffff;")
                        h2.text-white.mb-5 Donate to help us unleash more champions!
                        a.button.btn.btn-primary.clickable(href='https://www.zeffy.com/en-US/donation-form/bca5b80f-a3b2-4746-baaa-55e34b25840f') Donate!

        // Contact
        section.contact-section.bg-black
            .container.px-4.px-lg-5
                .row.gx-4.gx-lg-5
                    .col-md-4.mb-3.mb-md-0
                        .card.py-4.h-100
                            .card-body.text-center
                                i.fas.fa-envelope.text-primary.mb-2
                                h4.text-uppercase.m-0 Email
                                hr.my-4.mx-auto
                                .small.text-black-50
                                    a(href='mailto: rallmandinger@hocfoundation.org')  rallmandinger@hocfoundation.org
                    .col-md-4.mb-3.mb-md-0
                        .card.py-4.h-100
                            .card-body.text-center
                                i.fab.fa-instagram.text-primary.mb-2
                                h4.text-uppercase.m-0 Instagram
                                hr.my-4.mx-auto
                                .small.text-black-50
                                    a(href='https://www.instagram.com/houseofchampionsfoundation/')  House of Champions
                    .col-md-4.mb-3.mb-md-0
                        .card.py-4.h-100
                            .card-body.text-center
                                i.fas.fa-mobile-alt.text-primary.mb-2
                                h4.text-uppercase.m-0 Phone
                                hr.my-4.mx-auto
                                .small.text-black-50 +1 702-308-2669
        // Footer
        footer.footer.bg-black.small.text-center.text-white-50
            .container.px-4.px-lg-5
                | Inspire Others

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')

        // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
        // * *                               SB Forms JS                               * *
        // * * Activate your form at https://startbootstrap.com/solution/contact-forms * *
        // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

        script(src='https://cdn.startbootstrap.com/sb-forms-latest.js')
